/* Cores da página */
:root {
  --color-one:#fafafa;
  --color-two: #1E1F27;
  --color-tree:#000;
  --color-four:#e9e9e9;
  --color-five:#dcdcdc;
  --color-six:#bebbb4;
  --color-seven:#6f0a9e;
  --color-eight:#eb2d2d;
  --color-ten:#ffffff;
  --color-eleven:#1e1e1e;
  --color-twelve:#454545;
}
/**/
